*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main1{
    position: relative;
    height: 480px;
    width: 480px;
    border-radius: 100%;
    background-color: aquamarine;
}
.img1{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: blueviolet;
    border-top-left-radius: 100%;
}
.img2{
    position: absolute;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: rgb(30, 16, 43);
    border-top-left-radius: 100%;
    transform: rotate(90deg);
}
.img3{
    position: absolute;
    bottom:0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: rgb(155, 21, 59);
    border-top-left-radius: 100%;
    transform: rotate(180deg);
}
.img4{
    position: absolute;
    bottom:0;
    width: 50%;
    height: 50%;
    background-color: rgb(100, 24, 109);
    border-top-left-radius: 100%;
    transform: rotate(270deg);
}
